{{ define "main" }}
<div class="relative">
  <div class="absolute inset-0 bg-center bg-cover bg-no-repeat opacity-30" style="background-image: url(/images/banner-bg.png);"></div>
  <div class="max-w-screen-2xl mx-auto px-5 py-10 text-center isolate text-aqua">
    <h2 class="font-gotham text-3xl">Víctimas en carpetas de investigación FGJ</h2>
    <p class="text-sm mt-5">Denuncias entre enero de 2019 y marzo de 2022</p>
  </div>
</div>
<div class="max-w-screen-2xl mx-auto px-5 py-1 text-center">
  <div class="aspect-w-16 aspect-h-9">
    <iframe src="https://datasketch.shinyapps.io/cdmxApp/" frameborder="0"></iframe>
  </div>
</div>
{{ end }}